<style>
/* fuente de la letra  */
@font-face{
    font-family: "fraunces" ;
    src: url(../fonts/fraunces.ttf);
}
@font-face{
    font-family: "Roboto-Regular" ;
    src: url(../fonts/Roboto-Regular.ttf);
}
/* inicio   */
*{
box-sizing: border-box;

}
/* la letra del titulo y tamaño */
body {
    margin: 0;
    font-family: "Roboto-Regular" ;
    
}
/* la letra del la pagina */
h1, h2, h3, h4, h5, h6 {
    font-family: "fraunces" ;
}
/* el tamaño de los imagenes */
img {
    display: block;
    max-width: 100%;
}
/* el contenido de la pagina general */
.container--flex{
    display: flex;
    justify-content: space-between;

}
/* estilos del heider */
.main-header {
    padding: 0  15px;
}
.main-title{
    color: wheat;
    
}
.color-span{
 color: #eead31;
}
/* estilos de menu */
.icon-menu{
    font-size: 1. 5em;
    color: #eead31;
    border: 1px solid blueviolet;
    display: block;
    padding: 5px 12px;
    border-radius: 5px;
    cursor:pointer;
}
.menu{
    position: absolute;
    top: 80px;
    left: 0;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 10px;
    margin: 0;
    z-index: 999;
    opacity: 0;
    visibility:hidden;
    transition:all 0.5s;
}
.menu--item{
    padding: 15px;
    text-align: center;
    width: 105px;
    margin: auto;
}
.menu--link{
    color:rgb(19, 172, 233);
    text-decoration: none;
    position: relative;
    display: block;
}
/* creacion de cursores de los menus  */
.menu--link:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-right: 2px solid #EEAD31;
    border-top: 2px solid #EEAD31;
    top: 0;
    right: 0;
    opacity: 0;

}
.menu--link:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-left:  2px solid #EEAD31;
    border-bottom:  2px solid #EEAD31;
    left:  0;
    bottom:  0;
    opacity: 0;
}

.menu--link span:before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-left: 2px solid #EEAD31;
    border-top: 2px solid #EEAD31;
    top: 0;
    left: 0;
    opacity: 0;
}
.menu--link span:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-bottom: 2px solid #EEAD31;
    border-right: 2px solid #EEAD31;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.menu--link span{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
.menu--link--select:before, .menu--link--select:after, .menu--link--select span:before, .menu--link--select span:after{
    opacity: 1;
}
.menu--item:hover .menu--link:before,.menu--item:hover .menu--link:after, .menu--item:hover .menu--link span:before, .menu--item:hover .menu--link span:after  {
    opacity: 1;
}
.nav-social{
    display:  flex;
    justify-content: center;
}
.nav-social--item{
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    padding: 10px;
    padding:  10px;
    border-radius: 50%;
    margin: 10px;
}
.nav-social--item:first-child{
    background: #3b5998;
}
.nav-social--item:nth-child(2){
    background: #1da1f2;
}
.nav-social--item:nth-child(3){
    background: #ea4c89;
}
.nav-social--item i{
    color: white;
    
}
.mostrar{
    opacity: 1;
    visibility: visible
}
/*estilo de banner*/
.banner {
    background: url(../intex/pexels-pixabay-271816.jpg);
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999;
}
.banner:before {
content: "";
width: 100%;
min-height: 400px;
background: rgba(0,0,0,0.3);
position: absolute;
top: 0;
left: 0;
}
.banner--content{
    width: 90%;
    padding: 15px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 1.3em;
}
.main{
    margin-top: 350px;
        
}
.welcome{
    text-align: center;
    padding: 20px;
}
.welcome--title{
    font-size: 2em;
    position: relative;
}
.welcome--title:before {
    content: "";
    width: 200px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform:translateX(-50%);
    height: 3px;
    background: #EEAD31;
    
}
.welcome--txt{
    font-size: 1.2em;
    color: #777;
}
.welcome--btn{
    display: block;
    border: 2px solid#EEAD31;
    width: 200px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: #EEAD31;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 30px;
    transition: all 0.5s;
}
.welcome--btn:hover{
    background: #EEAD31;
    color: white;
}
.container-design{
    margin: 20px;
}
.design--item{
    position: relative;
}
.design--item:before{
content: "";
width: 100%;
min-height: 400px;
background: rgba(0,0,0,0.4);
position: absolute;
top: 0;
left: 0;

}
.design--title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 1.8em;
    width: 100%;
    text-align: center;
}
.design--title:before{
    content: "";
    width: 200px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform:translateX(-50%);
    height: 3px;
    background: #EEAD31;
}
.design--title:after{
    content: "";
    width: 200px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform:translateX(-50%);
    height: 3px;
    background: #EEAD31;
}
</style>
